fastapi
uvicorn
python-jose[cryptography]
passlib
bcrypt==3.2.0
python-dotenv
aiohttp
google-auth
google-auth-oauthlib
google-api-python-client
google-generativeai
itsdangerous
Jinja2
sqlalchemy
psycopg2-binary
pymongo
python-multipart
pdf2image
pytesseract
pillow
pandas
scikit-learn
joblib
uuid
srsly>=2.5.1
numpy
torch
transformers[torch]>=4.52.4

# Grading service dependencies
mord>=0.7
ollama>=0.5.1
xgboost>=3.0.2
aiofiles



